name: GitHub-self-runners-1
# This defines the name of the workflow. It will appear in the GitHub Actions tab
on: [push]
# here it is instructing that on evry push to this repo execute below codes

jobs:
  build:
  # This section defines the jobs that are part of the workflow
  # Here, we have a job named "build"
  
    runs-on: self-hosted
    # instructing to use self hosted runners instead of runners provided by github itself
    

    strategy:
      matrix:
      #instructing to check my file on these python versions
        python-version: ["3.10", "3.11", "3.12"]
        
        
#most of the below codes are avilable in github doc
    steps:         # i belive almost similar to stages in jenkins
    - uses: actions/checkout@v3
      # using plugin version 3, we instructing to check the code
      name: Checkout code

    - name: Set up Python
    # This step sets up the specified version of Python for the job
      uses: actions/setup-python@v5
      # using version 5 of the setup-python action from GitHub
      with:
        python-version: ${{ matrix.python-version }}
        # here we take the versions 3.10, 3.11, 3.12 from matrix that we specified earlier
        # since we specified 3 versions earlier there will be 3 jobs. each using different versions

    - name: Install dependencies
    # to get necessary Python packages for the job.
      run: |
        python -m pip install --upgrade pip    # upgrading pip
        pip install pytest                     # setting up pip which needed for the job

    - name: Run tests
    # here we use pip to run test 
      run: |
        cd src                         # change directory(cd) to src becoz thats were .py files are located
        python add.py                  # Runs pytest on the 'add.py' file to execute the tests.

    

   
